// Цветовая палитра
$color-accent: #22A0BC;
$color-primary01: #161616;
$color-primary02: #595959;
$color-primary03: #9C9C9C;
$color-primary04: #DADADA;
$color-primary05: #F4F4F4;
$color-primary06: #FDFDFD;

// Типографика
$font-size-huge: 1.5rem;
$font-size-large: 1.25rem;
$font-size-big: 1.125rem;
$font-size-base: 1rem;
$font-size-small: 0.875rem;
$font-size-little: 0.625rem;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;