@import '../../styles/typography';
@import '../../styles/variables';

.category {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-text {
        @include typography-desktop-text2-semibold;
        color: $color-primary01;
    }

    .active {
        color: $color-primary01;
    }

    .default {
        color: $color-primary03;
    }

    &-line {
        border: none;
	    border-top: 1px solid $color-primary04;
    }
}

@media (max-width: 815px) {
    .category {
        &-text {
            @include typography-mobile-text2-semibold;
        }
    }
}